body {
    background: 
}

div.ingredient {
    margin: auto;
    width: 50%;
    text-align: center;

}

button {
    background-color: transparent;
    border: none;
    outline: none;
}
    
.veg {
    max-width: 50vw;
}