body {
    /* Set background colour */
    background: #FFFECC;  
    font-family: 'Quicksand', sans-serif; 
}

h1 {
    text-align: center;
    font-size: 3rem;
    text-emphasis: bold;
}

div {
    /* align the div containing button and text */
    padding: 20px 20px;
    max-width: 27vw;
    margin: auto;
}

div button {
    /* make background of button transparent & remove border & outline */
    background-color: transparent;
    border: none;
    outline: none;
    display: block;
    margin: auto 0;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
	/* iOS fix? */
<<<<<<< HEAD
    cursor:pointer;
=======
>>>>>>> parent of 5b4ca09... iOS fix attempt
=======
	cursor:pointer;
>>>>>>> parent of 65fcd82... Fastclick attempt
=======
>>>>>>> parent of 5b4ca09... iOS fix attempt
=======
>>>>>>> parent of 5b4ca09... iOS fix attempt
}
    
.veg {
    /* set size of button relative to viewport*/
    max-width: 25vw;
    transition: transform .2s;
}

.veg:hover { 
    /* create hover animation */
    transform:scale(1.2);
}

p {
    text-align: center;
    font-size: 2rem;
}

body.about p{ 
    max-width: 50vw;
    margin: auto;
    font-size: 1.5rem;
    padding: 10px;
}

a {
    text-decoration: none;
    color:  black;
}